.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
   width: 100px;
   height: 100px;
   background-color: chocolate;
   color: wheat;
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
